.App {
  text-align: center;
  /* background-color: "rgb(232,232,232)"; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Playfair Display", serif; */
  font-weight: 500;
}

h2 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

span {
  font-family: "Cormorant Garamond", serif;
}
