.App {
  text-align: center;
  /* background-color: "rgb(232,232,232)"; */
  font-family: "Roboto", sans-serif;
  /* font-family: "Playfair Display", serif; */
  font-weight: 500;
}
@font-face {
  font-family: triline;
  src: url("./fonts/triline.otf");
}

@font-face {
  font-family: one-dam-light;
  src: url("./fonts/pumpLight.otf");
}
@font-face {
  font-family: one-dam-bold;
  src: url("./fonts/pumpBold.otf");
}
