@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.App {
  text-align: center;
  /* background-color: "rgb(232,232,232)"; */
  font-family: "Roboto", sans-serif;
  /* font-family: "Playfair Display", serif; */
  font-weight: 500;
}
@font-face {
  font-family: triline;
  src: url("./fonts/triline.otf");
}

@font-face {
  font-family: one-dam-light;
  src: url("./fonts/pumpLight.otf");
}
@font-face {
  font-family: one-dam-bold;
  src: url("./fonts/pumpBold.otf");
}

@font-face {
  font-family: "one-dam-pro";
  src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
}

/* allows youtube iframe videos to be responsive to breakpoints */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  /* max-width: 560px; */
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* max-width: 560px; */
}

.mainVideoWrapper {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  /* max-width: 560px; */
}
.mainVideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  /* max-width: 560px; */
}
